* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 30px;
    background: #b7cbdf;
}

h2 {
    margin: 20px 0 10px;
}


.menu {
    list-style: none;
    background: #d07373;
    border: 1px solid #333;
    width: fit-content;
}

.menu li {
    border: 1px solid #333;
}

.menu a {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.menu a:hover {
    background: #4a90e2;
    color: #fff;
}


.horizontal {
    display: flex;
}

.horizontal li {
    border-right: 1px solid #333;
}

.horizontal li:last-child {
    border-right: none;
}


.vertical {
    width: 180px;
}

.vertical li {
    border-bottom: 1px solid #333;
}

.vertical li:last-child {
    border-bottom: none;
}